// We derive from the writer styles and override for now
@import '../writer/archivist_writer';

// Overrides for ArchivistReader

.reader-component {
  bottom: 0px;
}

.content-panel-component {
  top: 0px;
}

.content-panel-component .panel-content {
  left: 20px;
  font-size: 14px;
  line-height: 24px;
}

.content-panel-component .content-node.paragraph {
  padding-bottom: 10px;
}

.container-annotation.comment.annotation-fragment {
  background: none;
}

.content-editor-component .subject-references .subject-reference {
  display: none;
}

.content-editor-component .subject-references .subject-reference.active {
  border-width: 1px;
}

.content-editor-component .subject-references .subject-reference.active {
  display: block;
}

.entity-reference.annotation {
  cursor: pointer;
}

.container-annotation.active.annotation-fragment {
  background: none;
}

.writer-component .context-toggles a.toggle-context {
	padding: 0px 14px;
}

// Info panel

.info-panel-component .panel-content {
	padding: 20px;
}

.info-panel-component .panel-content > div {
	font-size: 13px;
  line-height: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

// Timecodes

.annotation.timecode {
  background: #fff;
  color: #fff;
  position: absolute;
  overflow: hidden;
  width: 20px;
  height: 27px;
  left: 18px;
}

.annotation.timecode::after {
	font-family: FontAwesome;
  content: "\f01d";
  position: absolute;
  top: 0px;
  color: rgb(60, 60, 60);
  font-size: 15px;
  left: 1px;
  cursor: pointer;
  font-weight: 100;
  opacity: 0.3;
}

.annotation.timecode:hover::after {
	opacity: 1;
}

// Source panel

.source-panel-component .panel-content > div {
  font-size: 13px;
  line-height: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  white-space: pre-wrap;
}

.video-source {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.video-source iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}